.Table {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.Header {
  color: #18274a;
}

tr {
  border-top: 1px solid;
}
.Header th {
  font-size: 1.2rem;
}

tr,
th,
td {
  padding: 5px;
  border-collapse: collapse;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

.Button {
  display: flex;
  justify-content: center;
}

.Button input {
  margin-bottom: 50px;
  border-radius: 3px;
  width: 120px;
  height: 30px;
  font-size: 1rem;
  color: #f39200;
  font-weight: 900;
  box-shadow: none;
  transition: all 0.5s ease;
  background-color: #18274a;
  border: 1px solid #f39200;
}

.Button input:hover {
  cursor: pointer;
  color: #18274a;
  background-color: #f39200;
  transition: all 0.5s ease;
}

.Loader img {
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.Refresh {
  width: 35px;
  height: 35px;
  transition: transform 0.7s ease-in-out;
  margin: 10px;
}

.Refresh:hover {
  transform: rotate(360deg);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  table {
    width: 95vw;
  }
  .Button input {
    -webkit-appearance: none;
  }

  tr,
  th,
  td {
    padding: 5px;
    border-collapse: collapse;
    font-size: 0.7rem;
  }
}
