.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  height: 300%;
  padding-bottom: 100px;
  background: #18274a;
  font-size: calc(10px + 2vmin);
  color: #595857;
}
